.result{
    position: absolute;
    left: 25rem;
    top: 1rem;
    padding-bottom: 2rem;
}

.Card{
    padding: 10px;
    margin: 0 40px;
    display: flex;
    cursor: pointer;
    width: 40rem;
    transition: box-shadow 0.1s ease-in-out;
}

.Card:hover{
    border: 1px solid grey;
    padding: 9px;
    margin: 0 39px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
}

img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.info{
    text-align: left;
    padding-left: 10px;
}
